<h1 class="text-center my-4">Add New User</h1>

<div class="container my-5">
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-6 offset-3">
                <form [formGroup]="userReg" (ngSubmit) = "register()">
                    <div class="form-group">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" placeholder="John123" class="form-control" formControlName="userName" id="userName" name="userName">
                        <span *ngIf="userReg.controls['userName'].touched && !userReg.controls['userName'].valid">

                            <span *ngIf="userReg.controls['userName'].hasError('required')">
                                User Name Can't be Empty!
                            </span> 

                            <span *ngIf="userReg.controls['userName'].hasError('minlength')">
                                User Name Can't be Less than 4 Characters!
                            </span> 


                        </span>
                    </div>
                    <div class="form-group">
                        <label for="userEmail" class="form-label">Email address</label>
                        <input type="email" placeholder="abc@example.com" class="form-control" formControlName="userEmail" id="userEmail" name="userEmail" aria-describedby="emailHelp">
                        <span *ngIf="userReg.controls['userEmail'].touched && !userReg.controls['userEmail'].valid">

                            <span *ngIf="userReg.controls['userEmail'].hasError('required')">
                                Email Can't be Empty!
                            </span> 

                            <span *ngIf="userReg.controls['userEmail'].hasError('email')">
                                Email is not in correct format
                            </span> 


                        </span>
                    </div>
                    
                    <div class="form-group">
                        <label for="userPassword" class="form-label">Password</label>
                        <input type="password" placeholder="Password length must be min 6" class="form-control" formControlName="userPassword" id="userPassword" name="userPassword">
                        <span *ngIf="userReg.controls['userPassword'].touched && !userReg.controls['userPassword'].valid">

                            <span *ngIf="userReg.controls['userPassword'].hasError('required')">
                                Password Can't be Empty!
                            </span> 

                            <span *ngIf="userReg.controls['userPassword'].hasError('minlength')">
                                password Can't be Less than 6 Characters!
                            </span> 


                        </span>
                    </div>

                    <div class="form-group">
                        <label for="userMobile" class="form-label">Mobile</label>
                        
                        <input type="text" class="form-control" placeholder="Enter your 10 digit Mobile Number" formControlName="userMobile" id="userMobile" name="userMobile" aria-label="Username" aria-describedby="basic-addon1">
                        <span *ngIf="userReg.controls['userMobile'].touched && !userReg.controls['userMobile'].valid">

                            <span *ngIf="userReg.controls['userMobile'].hasError('required')">
                                Mobile Can't be Empty!
                            </span> 

                            <!-- <span *ngIf="userReg.controls['userMobile'].hasError('min')">
                                Mobile Can't be Less than 10 Digits!
                            </span> 

                            <span *ngIf="userReg.controls['userMobile'].hasError('max')">
                                Mobile Can't be More than 10 Digits!
                            </span>  -->

                            <span *ngIf="userReg.controls['userMobile'].hasError('pattern')">
                                Mobile No. not in correct format!
                            </span> 


                        </span>
                    </div>

                    <div class="form-group">
                        <label for="-" class="form-label">Qualification</label>
                        <input type="text" placeholder="B.Tech" class="form-control" formControlName="userQualification" id="userQualification" name="userQualification">
                        <span *ngIf="userReg.controls['userQualification'].touched && !userReg.controls['userQualification'].valid">

                            <span *ngIf="userReg.controls['userQualification'].hasError('required')">
                                Qualification Can't be Empty!
                            </span> 

        


                        </span>
                    </div>

                    <div class="form-group">
                        <label for="userSkills" class="form-label">Skill set</label>
                        <input type="text" placeholder="Marketing, Communication" class="form-control" formControlName="userSkills" id="userSkills" name="userSkills">
                        <span *ngIf="userReg.controls['userSkills'].touched && !userReg.controls['userSkills'].valid">

                            <span *ngIf="userReg.controls['userSkills'].hasError('required')">
                                Skills Can't be Empty!
                            </span> 

                           


                        </span>
                    </div>


                    <div class="form-group my-4">
                    <button type="submit" class="btn btn-outline-success">Add user</button>
                    <button type="reset" class="btn btn-outline-warning mx-2">Reset user</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
