<h1 class="text-center">View Jobs By Location</h1>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Job Category</th>
            <th scope="col">Job Description</th>
            <th scope="col">Job Location</th>
            <th scope="col">Job Salary</th>
            <!-- <th scope="col" >Action</th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of jobListByLoc">
                <td> {{data.jobId}}</td>
                <td> {{data.companyName}}</td>
                <td>{{data.jobTitle}}</td>
                <td>{{data.jobCategory}}</td>
                <td>{{data.jobDescription}}</td>
                
                <td>{{data.jobLocation}} </td>
                <td>{{data.jobSalary}}</td>
                <!-- <td><a routerLink="/update-job/{{data.jobId}}"><button type="button" class="btn btn-outline-warning mx-1" value="Update">Update</button></a> <a><button type="button" class="btn btn-outline-danger" value="Delete" (click)="deleteJob(data.jobId)">Delete</button></a></td> -->
    
              </tr>
         
        </tbody>
      </table>
</div>
